
.App {
  font-family: sans-serif;
  text-align: center;
}
body{
  background: #333;
  margin: 0;
  padding: 0;
}
#s2,#s3,#s4,#s5,#s6,#s7,#s8,#s9,#s10,#s11,
#s12,#s13,#s14,#s15,#s16,#s17,#s18,#s19,
#s20,#s21,#s22,#s23,#s24,#s25{
  display: none;
  transition: all 0.5s;
}
#s1{
  display: block;
  transition: all 0.5s;
}
.mainHeader,.mainHeaderFirst{
  font-size: 4em;
  font-family: monospace;
  color: black;
  font-style: initial;
}
.mainHeader{
  color: white;
  
}
.firstSlide{
  width: 99%;
  height: 90%;
  background-image: url("https://uploads.codesandbox.io/uploads/user/629feadb-484f-465b-8acd-c07f50a2ff04/ziou-first-slide.jpg");
  background-size: cover;
  padding-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.author{
  margin-top: 10em;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: #111;
  padding: 2px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.mainContent{
  text-align: left;
  padding-left: 20px;
  font-size: 2em;
  font-family: Verdana;
  color: white;
}
.mainContent > ul{
  list-style-image: url("https://uploads.codesandbox.io/uploads/user/629feadb-484f-465b-8acd-c07f50a2ff04/5Oee-pointer.png");
}
.slideWrapper > ul{
  list-style: none;
}
.photo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 2px;
  box-shadow: 5px 5px 5px #111;
  border: none;
}
#s15> .photo{
  transform: scale(1.3);
  margin-top: 40px;
}
#s16 > .photo{
  transform: scale(1.4);
  margin-top: 50px;
}
.progressBar{
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
}
.goOn{
background: orange;
width: 4%;
height: inherit;
border-radius: 0px 0px 5px 0px;
}